# Database setup - Project 2

In [1]:
# Imports
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float, ForeignKey
from sqlalchemy.orm import sessionmaker, relationship

In [ ]:
# Create Engine
engine = create_engine("sqlite:///p2_cities.sqlite")

# Use `declarative_base` from SQLAlchemy to model the city table as an ORM class
# Make sure to specify types for each column
# Declare a Base object here
Base = declarative_base()

In [ ]:
# Define the ORM class or `Cities`
### BEGIN SOLUTION
class Cities(Base):
    
    __tablename__ = 'cities'

    id = Column(Integer, primary_key=True)
    city = Column(Text)
    state_name = Column(Text)
    population = Column(Float)
    lat = Column(Float)
    lng = Column(Float)
    #date = Column(Text)
    #avg_edu = Column(Float)
    #avg_income_pc = Column(Float)
    #total_college_students = Column(Float)
    #crime_rate_per_100000 = Column(Float)
    
    def __repr__(self):
        return f"id={self.id}, name={self.name}"

In [ ]:
#use create all to create the table 

Base.metadata.create_all(engine)

In [ ]:
# Verify that the table name exists in the database
engine.table_names()

In [ ]:
# Use Pandas to Bulk insert each CSV file into the table
def populate_table(engine, table, csvfile):
    """Populates a table from a Pandas DataFrame."""
    # connect to the database
    conn = engine.connect()
    
    # Load the CSV file into a pandas dataframe 
    df_to_insert = pd.read_csv(csvfile)
    
    # Orient='records' creates a list of data to write
    # http://pandas-docs.github.io/pandas-docs-travis/io.html#orient-options
    #orient = to columns or records better for our needs?
    data = df_to_insert.to_dict(orient='records')

    # Optional: Delete all rows in the table 
    conn.execute(table.delete())#NEEDED OR NOT?

    # Insert the dataframe into the database in one bulk insert
    conn.execute(table.insert(), data)
    
# Call the function to insert the data for each table
populate_table(engine, Cities.__table__, 'cities.csv')

In [ ]:
# Use a basic query to validate that the data was inserted correctly for table 'cities'

engine.execute("SELECT * FROM cities WHERE population > 100000 ORDER BY population DESC LIMIT 1").fetchall()

In [ ]:
#This CSV is serving as our dummy DATA

In [ ]:
df = pd.DataFrame(engine.execute("SELECT * FROM cities ORDER BY population DESC LIMIT 100").fetchall())

#############################################
            REAL DB BELOW
#############################################

In [13]:
#cities_db.sqlite creation

In [2]:
engine = create_engine("sqlite:///cities_db.sqlite")

# Use `declarative_base` from SQLAlchemy to model the city table as an ORM class
# Make sure to specify types for each column
# Declare a Base object here
Base = declarative_base()

In [3]:
# Define the ORM class or `Cities`
### BEGIN SOLUTION        
#Cities.city,
#         Cities.state,
#         Cities.lat,
#         Cities.lng,
#         Cities.pop_2016,
#         Cities.estab_2016,
#         Cities.median_household_inc,
#         Cities.bach_or_higher_percent,
#         Cities.agg_commute_mins,
#         Cities.biz_growth_Y,
#         Cities.tax_rank,
#         Cities.corp_tax_rank,
#         Cities.income_tax_rank,
#         Cities.sales_tax_rank,
#         Cities.property_tax_rank,
#         Cities.unemployment_tax_rank

class Cities(Base):
    
    __tablename__ = 'cities'

    id2 = Column(Integer, primary_key=True)
    city = Column(Text)
    state = Column(Text)  
    lat = Column(Float)
    lng = Column(Float)
    pop_2011 = Column(Float)
    pop_2016 = Column(Float)
    estab_2011 = Column(Float)
    estab_2016 = Column(Float)
    agg_commute_mins = Column(Float)
    median_household_inc = Column(Float)
    bach_or_higher_percent = Column(Float)
    biz_growth_Y = Column(Float)
    tax_rank = Column(Float)
    corp_tax_rank = Column(Float)
    income_tax_rank = Column(Float)
    sales_tax_rank = Column(Float)
    property_tax_rank = Column(Float)
    unemployment_tax_rank = Column(Float)
    city_state = Column(Text)
    
          def __repr__(self):
        return f"id={self.id}, name={self.name}"

In [4]:
Base.metadata.create_all(engine)

In [5]:
# Verify that the table name exists in the database
engine.table_names()

['cities']

In [6]:
# Use Pandas to Bulk insert each CSV file into the table
def populate_table(engine, table, csvfile):
    """Populates a table from a Pandas DataFrame."""
    # connect to the database
    conn = engine.connect()
    
    # Load the CSV file into a pandas dataframe 
    df_to_insert = pd.read_csv(csvfile)
    
    # Orient='records' creates a list of data to write
    # http://pandas-docs.github.io/pandas-docs-travis/io.html#orient-options
    #orient = to columns or records better for our needs?
    data = df_to_insert.to_dict(orient='records')

    # Optional: Delete all rows in the table 
    conn.execute(table.delete())#NEEDED OR NOT?

    # Insert the dataframe into the database in one bulk insert
    conn.execute(table.insert(), data)
    
# Call the function to insert the data for each table
populate_table(engine, Cities.__table__, 'main_wtaxrank.csv')

In [9]:
engine.execute("SELECT * FROM cities LIMIT 10").fetchall()

[(1, 'Abilene', 'TX', 32.4487364, -99.73314390000002, 165858.0, 170860.0, 3844.0, 3950.0, 1313825.0, 48016.0, 20.4),
 (2, 'Amarillo', 'TX', 35.2219971, -101.8312969, 254635.0, 263491.0, 6018.0, 6348.0, 2334755.0, 54478.0, 23.7),
 (3, 'Austin-Round Rock', 'TX', 30.508255100000003, -97.678896, 1783519.0, 2056405.0, 41924.0, 50759.0, 26768530.0, 71000.0, 42.8),
 (4, 'Beaumont-Port Arthur', 'TX', 30.080174, -94.1265562, 390535.0, 409901.0, 7845.0, 7896.0, 3808355.0, 49364.0, 17.2),
 (5, 'Brownsville-Harlingen', 'TX', 26.1906306, -97.69610259999999, 414123.0, 422135.0, 6285.0, 6376.0, 3125575.0, 37061.0, 17.0),
 (6, 'College Station-Bryan', 'TX', 30.825147, -96.4929797, 227997.0, 254716.0, 4316.0, 4860.0, 2053660.0, 42233.0, 35.3),
 (7, 'Corpus Christi', 'TX', 27.8005828, -97.396381, 431381.0, 452790.0, 9257.0, 9543.0, 3887750.0, 53775.0, 21.2),
 (8, 'Dallas-Fort Worth-Arlington', 'TX', 32.707875099999995, -96.9209135, 6526566.0, 7232599.0, 141069.0, 160269.0, 96061810.0, 63812.0, 33.9),
 (9, 'El Paso', 'TX', 31.7618778, -106.4850217, 820790.0, 842114.0, 13494.0, 14424.0, 8251840.0, 42116.0, 21.9),
 (10, 'Houston-The Woodlands-Sugar Land', 'TX', 30.1746765, -95.4539647, 6086895.0, 6772470.0, 123784.0, 139010.0, 90558810.0, 61708.0, 32.0)]