# Data manupulation Govt And Tax codes

For the third year in a row, we found that service professionals valued three things above all others in their local government: a licensing system that is simple and makes compliance easy; a tax system that has clear rules and is easy to understand; and training and networking programs that help service professionals get their businesses up and running, comply with the local rules, and meet other professionals in their industries.

In [1]:
import pandas as pd

In [5]:
url = "https://taxfoundation.org/publications/state-business-tax-climate-index/"

In [9]:
pd.read_html(url)

URLError: <urlopen error unknown url type: https>

In [ ]:
df = scrape[1]
#df.to_csv("tax_data.csv")
df.head()

In [2]:
df_read = pd.read_csv("tax_data_abbr.csv")
df_read_rename = df_read.rename(columns= {"Overall Rank":"tax_rank","Corporate Tax Rank":"corp_tax_rank","Individual Income Tax Rank":"income_tax_rank","Sales Tax Rank":"sales_tax_rank","Property Tax Rank":"property_tax_rank","Unemployment Insurance Tax Rank":"unemployment_tax_rank"})
display(
    df_read_rename.head(),
)

,state,tax_rank,corp_tax_rank,income_tax_rank,sales_tax_rank,property_tax_rank,unemployment_tax_rank
0,AL,39,20,30,48,15,12
1,AK,2,25,1,5,23,35
2,AZ,27,17,19,47,5,13
3,AR,46,40,40,44,26,34
4,CA,49,31,49,43,14,17

The Kauffman Foundation’s Index of Entrepreneurial Activity shows that entrepreneurship can be a safe harbor for cities during difficult economic periods – as individuals lose their jobs during economic downturns, entrepreneurship tends to rise as they turn towards self-employment to keep their skills up or help pay the bills, and it declines again as the labor market recovers. This suggests that cities that create the right environment for entrepreneurs will be better positioned to weather challenging economic periods. Listening directly to entrepreneurs as the Thumbtack survey does can help cities understand which policies are making them small business friendly and which are keeping small business at bay.

In [3]:
df_main = pd.read_csv("main.csv")

df_main.head()

,Id2,Geography,Travel time to work (min),Median Income,Percent bachelor's degree or higher,Establishments 2011,Establishments 2016,Pop: 2011,Pop: 2016,% Change,LAT,LON,city,state
0,10180,"Abilene, TX",1313825,48016,20.4,3844.0,3950.0,165858.0,170860.0,-0.250727,32.448736,-99.733144,Abilene,TX
1,10420,"Akron, OH",7359250,51598,31.0,16402.0,16390.0,701456.0,702221.0,-0.182022,41.081445,-81.519005,Akron,OH
2,10500,"Albany, GA",1215320,40667,18.6,3242.0,3123.0,161617.0,152506.0,2.084330,31.578507,-84.155741,Albany,GA
3,10580,"Albany-Schenectady-Troy, NY",9953675,65855,37.4,21027.0,21444.0,871478.0,881839.0,0.784933,42.763648,-73.653621,Albany-Schenectady-Troy,NY
4,10740,"Albuquerque, NM",9286780,50954,31.8,18466.0,18645.0,899149.0,913924.0,-0.662977,35.084386,-106.650422,Albuquerque,NM

In [7]:
df_main_wtaxrank = pd.merge(df_main, df_read_rename, on = "state")

In [8]:
df_main_wtaxrank = df_main_wtaxrank.rename(columns = {"Geography":"city_state","Travel time to work (min)":"agg_commute_mins","Median Income":"median_household_inc","Percent bachelor's degree or higher":"bach_or_higher_percent","Establishments 2011":"estab_2011","Establishments 2016":"estab_2016","Pop: 2011":"pop_2011","Pop: 2016":"pop_2016","% Change":"biz_growth_Y","LAT":"lat","LON":"lng"})

In [35]:
#df_main_wtaxrank = df_main_wtaxrank.drop(columns= "city_state")

In [10]:
df_main_wtaxrank.to_csv("main_wtaxrank.csv")

In [9]:
df_main_wtaxrank.columns

Index(['Id2', 'city_state', 'agg_commute_mins', 'median_household_inc',
       'bach_or_higher_percent', 'estab_2011', 'estab_2016', 'pop_2011',
       'pop_2016', 'biz_growth_Y', 'lat', 'lng', 'city', 'state', 'tax_rank',
       'corp_tax_rank', 'income_tax_rank', 'sales_tax_rank',
       'property_tax_rank', 'unemployment_tax_rank'],
      dtype='object')